# docker-compose.yml


services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # AMQP
      - "15672:15672" # management UI
    networks:
      - atlasnet

  producer:
    build: .
    command: ["python", "-u", "producer.py"]
    volumes:
      - atlasdata:/data
    depends_on:
      - rabbitmq
    networks:
      - atlasnet

  worker:
    build: .
    command: ["python", "-u", "worker.py"]
    volumes:
      - atlasdata:/data
    depends_on:
      - rabbitmq
    networks:
      - atlasnet

  aggregator:
    build: .
    command: ["python", "-u", "aggregator.py"]
    volumes:
      - atlasdata:/data
    depends_on:
      - rabbitmq
    networks:
      - atlasnet

volumes:
  atlasdata:

networks:
  atlasnet:
